section#education
    h3 Education
    p Graduated from Kharkiv National University of Radio Electronics in 2007, Masters Degree. Kharkiv, Ukraine.
    p M.S. in Computer Science, major in Computer Data Processing Systems
