mixin navItem(title, name)
    a(href='#' + name, title=title)
        i(class='icon-' + name)
        span=title

nav.wow.slideInRight
    +navItem('General', 'general')
    +navItem('Skills', 'skills')
    +navItem('Experience', 'experience')
    +navItem('Download CV', 'download')
