mixin navItem(title, href, ico)
    a(href='#' + href, title=title)
        i.fa(class='fa-' + ico)
        span=title

nav
    +navItem('General', 'general', 'universal-access')
    +navItem('Skills', 'skills', 'rocket')
    +navItem('Experience', 'experience', 'thumbs-up')
    +navItem('Download CV', 'download', 'download')
