section#summary
    div.sidebar
        h3 Contact

        ul
            li
                i.fa.fa-phone
                span +380 98 9309333

            li
                i.fa.fa-envelope
                a(href='mailto:anton.zarubin@gmail.com') anton.zarubin@gmail.com

            li
                i.fa.fa-skype
                span anton_zarubin

        h3 My projects

        ul
            li
                i.fa.fa-github
                a(href='https://github.com/zarant77') github.com/zarant77

            li
                i.fa.fa-connectdevelop
                a(href='https://www.npmjs.com/~zarant77') npmjs.com/~zarant77

    div.content

        h3 Summary

        p About ten years experience in PHP development, extensive experience in programming engineering and algorithm development.

        p Over three years experience in Node.js development.

        p Strong skills in development and implementation. Abilities in inventing solutions, algorithms, methods and approaches.

        p Well skilled in database design and system architecture design.

        p Strong skill in “Single Page Application” development.

        p Good attention to details.

        p Native languages - Russian and Ukrainian.<br>Conversational English.
