section#summary

    h1 Summary

    p About ten years experience in PHP development, extensive experience in programming engineering and algorithm development.

    p Over three years experience in Node.js development.

    p Strong skills in development and implementation. Abilities in inventing solutions, algorithms, methods and approaches.

    p Well skilled in database design and system architecture design.

    p Strong skill in “Single Page Application” development.

    p Good attention to details.

    p Native languages - Russian and Ukrainian.<br>Conversational English.
