#skills {
    h4 {
        margin: 0 0 10px 0;
    }

    .descr {
        margin: 0 0 20px 0;
        padding: 10px;
        border-radius: 5px;
        background: @colorSecondaryBg;

        div {
            margin: 5px 0 5px 0;

            i {
                display: inline-block;
                height: 28px;
                line-height: 28px;
                vertical-align: bottom;

                &.icon {
                    margin-right: 10px;
                }
            }
        }
    }

    .group {
        margin: 0 0 20px 0;
    }

    .row {
        display: inline-block;
        position: relative;
        width: 475px;
        height: 45px;
        margin: 0;
        background: @colorSecondaryBg;
        .border-radius(5px);
        .defaultTransition();

        .tech {
            position: absolute;
            left: 10px;
            top: 10px;
        }

        .title {
            position: absolute;
            left: 60px;
            top: 7px;
            width: 250px;
        }

        .exp {
            position: absolute;
            left: 60px;
            top: 22px;
            width: 250px;
            font-style: italic;
        }

        .level {
            position: absolute;
            top: 10px;
            right: 10px;
        }
    }

    .row:nth-child(even) {
        margin-right: 4px;
    }

    .row:nth-child(odd) {
    }
}
