#experience {
    .item {
        position: relative;
        margin: 0 0 30px 0;

        .title {
            line-height: 24px;
            font-weight: bold;
        }

        .subtitle {
            line-height: 24px;

            span {
                font-weight: bold;
            }

            a {
                font-style: italic;
                margin: 0 0 0 10px;
            }
        }

        .description {
            margin: 5px 0 0 0;
            line-height: 20px;
            text-align: justify;
        }

        .list {
            margin: 0 0 0 20px;
        }

        h4 {
            font-weight: normal;
            margin: 12px 0 4px 0;
        }

        ul {
            margin: 0 0 0 20px;
        }

        li {
            line-height: 20px;
        }
    }
}
