#experience {
    .item {
        position: relative;
        margin: 0 0 30px 0;
    }

    .item-qcoders, .item-intetics {
        page-break-after: always;
    }

    .company-logo {
        display: none;
    }

    .description {
        width: 680px;
        margin: 10px 0 0 0;
        line-height: 20px;
        text-align: justify;
    }
}
