#skills {
    .row {
        -webkit-print-color-adjust: exact;
        display: block;
        height: 40px;
        width: 100%;
        margin: 0 0 5px 0;

        .icon {
            position: static;
            display: inline-block;
            width: 50px;
            margin: 6px 0 0 10px;
        }

        .title {
            position: static;
            display: inline-block;
            width: 200px;
        }

        .exp {
            position: static;
            display: inline-block;
            width: auto;
        }

        .level {
            position: static;
            display: inline-block;
            float: right;
            margin: 6px 10px 0 0;
        }
    }

    .group-orm, .group-teamcollaborationtools {
        page-break-before: always;
    }
}
