#skills {
    .row {
        display: block;
        height: 20px;
        line-height: 20px;
        margin: 0 0 2px 0;
        overflow: hidden;

        .icon {
            position: static;
            float: left;
            width: 50px;
            margin: 2px 0 0 10px;
        }

        .title {
            position: static;
            float: left;
            width: 200px;
        }

        .exp {
            position: static;
            float: left;
            width: auto;

            i {
                display: none;
            }
        }

        .level {
            position: static;
            display: inline-block;
            float: right;
            margin: 0 10px 0 0;
        }
    }

    .group-toolsframeworks {
        page-break-before: always;
    }
}
