@import '../../bower_components/lesshat/build/lesshat';
@import '../../bower_components/roboto-fontface/css/roboto-fontface';
@import './common/common';
@import './common/company-logos';
@import './common/icons-font';
@import './common/icons-glyphs';
@import './common/variables';
@import './screen/slide-experience';
@import './screen/slide-general';
@import './screen/slide-skills';

html, body {
    font-size: 14px;
    color: #000000;
}

nav, #download {
    display: none;
}

section {
    margin: 0;
    border: initial;
    border-radius: initial;
    width: initial;
    min-height: initial;
    box-shadow: initial;
    background: initial;
    page-break-after: always;
}

#container {
    width: 100%;
}

#general, #skills, #experience {
    page-break-after: always;
}

#general {
    #header {
        height: 200px;
        background-position-y: -50px;

        #photo {
            top: 20px;
            left: 30px;
            width: 150px;
            height: 150px;
            border-width: 6px;
        }

        h1 {
            top: 40px;
            right: 50px;
            font-size: 50px;
        }

        h2 {
            top: 110px;
            right: 50px;
            font-size: 18px;
        }
    }

    .sidebar {
        width: 230px;
    }

    .content {
        left: 230px;
        width: 350px;

        .block {
            padding: 0;
        }

        li {
            line-height: 18px;
            margin: 0 0 6px 0;
        }
    }

    .block:first-child {
        margin: 220px 0 0 0;
    }
}

#skills {
    .row {
        width: 100%;
        height: 38px;

        .icon {
            left: 5px;
            top: 5px;
        }

        .title {
            left: 60px;
            top: 2px;
        }

        .exp {
            left: 60px;
            top: 20px;
        }

        .level {
            top: 5px;
            right: 5px;
        }
    }

    .group-relationaldbms,
    .group-toolsframeworks,
    .group-othertools {
        page-break-before: always;
        padding-top: 30px;
    }
}

#experience {
    .item {
        page-break-after: always;
        padding-top: 30px;

        .company-logo {
            top: 30px;
        }
    }

    .item-upwork {
        padding-top: 0 !important;

        .company-logo {
            top: 0 !important;
        }
    }
}
