doctype html
html(lang='en')
    head
        title Anton Zarubin - CV

        - if (baseUrl)
            base(href=baseUrl)

        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        meta(content='images/avatar.png', name='twitter:image:src')
        meta(content='@zarant77.github.io', name='twitter:site')
        meta(content='summary', name='twitter:card')
        meta(content='Anton Zarubin - CV', name='twitter:title')
        meta(content='A curriculum vitae is a written overview of my experience and other qualifications.', name='twitter:description')
        meta(content='images/avatar.png', property='og:image')
        meta(content='Anton Zarubin - CV', property='og:site_name')
        meta(content='profile', property='og:type')
        meta(content='Anton Zarubin - CV', property='og:title')
        meta(content='http://zarant77.github.io/', property='og:url')
        meta(content='A curriculum vitae is a written overview of my experience and other qualifications.', property='og:description')

        - if (isPdf)
            link(rel='stylesheet', href='/css/pdf.css')
        - else
            - var hash = Math.random().toString(36).substring(10);
            link(rel='stylesheet', media='all', href='/css/screen.css?' + hash)
            script(type='text/javascript', src='js/main.js?' + hash)

    body
        #container
            include ./templates/navigation

            include ./templates/slide-general

            include ./templates/slide-skills

            include ./templates/slide-experience

            include ./templates/slide-download
