doctype html
html(lang='en')
    head
        title Anton Zarubin - CV
        script(type='text/javascript', src='scripts.js')
        link(rel='stylesheet', media='all', href='/main.css')
        link(rel='stylesheet', media='print', href='/print.css')

    body
        #container
            include ./templates/header
            include ./templates/navigation
            include ./templates/summary
