doctype html
html(lang='en')
    head
        title Anton Zarubin - CV

        - if (baseUrl)
            base(href=baseUrl)

        meta(name='viewport', content='width=device-width, initial-scale=1.0')

        - if (isPdf)
            link(rel='stylesheet', href='/css/pdf.css')
        - else
            - var hash = Math.random().toString(36).substring(10);
            link(rel='stylesheet', media='screen', href='/css/screen.css?' + hash)
            link(rel='stylesheet', media='print', href='/css/print.css?' + hash)
            script(type='text/javascript', src='js/main.js?' + hash)

    body
        #container
            include ./templates/navigation

            include ./templates/slide-general

            include ./templates/slide-skills

            include ./templates/slide-experience

            include ./templates/slide-download
